.calculator {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  background-color: gray;
  min-height: 300px;
}

input {
  margin-top: 10px;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

button {
  font-size: 20px;
  background-color: darkslategrey;
  padding: 10px;
  margin: 5px 10px;
}

h3,
h2 {
  font-size: 20px;
}

#result {
  padding: 5px 30px;
  border: 2px, solid, black;
  background-color: beige;
}
